<div class="grid-content">
<nav class="grid-nav">
        <ul class="nav-items">
            <li><a href="/">Acceuil</a></li>
            <li><a href="/presentations">Presentations</a></li>
            <li><a href="/prestations">Prestations</a></li>
            <li><a href="#">Avis</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <button class="deco">Deconexion</button>
    </nav>
</div>
