{% extends 'base.html.twig' %}

{% block title %}Présentation
{% endblock %}


{% block stylesheets %}
	<link href="assets/css/style_presentation.css" rel="stylesheet">
{% endblock %}


{% block body %}
	<body>
		<div class="example-wrapper"></div>
	</body>

	<div class="Presentation_generale">
		Salut, je suis Alex, un photographe passionné, et je suis là pour capturer vos moments spéciaux et les transformer en souvenirs durables. Mon objectif en tant que photographe est de créer des images exceptionnelles qui vous laisseront sans voix.
	</div>

	<div class="Paragraphe_Expertise">
		<h2 class="Mon_Expertise">
			Mon Expertise</h2>
		<p class="Texte_Expertise">
			Mon expérience et mon expertise dans le domaine de la photographie me permettent de saisir l'essence même de chaque instant. Que ce soit un mariage, une séance photo en famille, une célébration d'entreprise ou n'importe quel autre événement spécial, je mets en œuvre mon savoir-faire pour capturer chaque détail, chaque émotion et chaque sourire.
		</p>
	</div>


	<div class="Paragraphe_Creativite">
		<h2 class="Ma_Creativite">
			Ma Créativité
		</h2>
		<p class="Texte_Creativite">
			Ce qui me distingue, c'est ma créativité. Je cherche toujours à repousser les limites de la photographie pour créer des images uniques et mémorables. J'aime jouer avec la lumière, les couleurs et les angles pour obtenir des résultats qui sortent de l'ordinaire. Mon approche artistique donne vie à vos moments spéciaux de manière extraordinaire.
		</p>
	</div>

	<div class="Paragraphe_Objectif">
		<h2 class="Mon_Objectif">
			Mon objectif
		</h2>
		<p class="Texte_Objectif">
			Mon objectif ultime est de vous fournir des souvenirs durables. Les photographies que je crée deviendront des trésors que vous chérirez pour les années à venir. Chaque cliché raconte une histoire, et je m'efforce de faire en sorte que ces histoires restent vivantes à travers mes images.
		</p>
	</div>

	<div class="Paragraphe_Fin">
		<p>
			N'hésitez pas à me contacter pour discuter de vos besoins photographiques. Ensemble, nous pouvons transformer vos moments spéciaux en souvenirs inestimables.
		</p>
	</div>

	La Transformation en Souvenirs Durables
																																						
																			Que vous souhaitiez immortaliser un événement important ou simplement avoir des photos professionnelles de vous-même ou de votre famille, je suis là pour vous. Mon dévouement envers la photographie et ma passion pour créer des images inoubliables se reflètent dans chaque photo que je prends.


{% endblock %}
