{% extends 'base.html.twig' %}

{% block title %} Accueil{% endblock %}



{% block stylesheets %}
<link rel="stylesheet" href="assets/css/style_accueil.css">
 {% endblock %}




{% block body %}
<body class="accueil-login">
<div class="grid-content">
  
    <h1 class="titile-acueille grid-title">AlexCaptures</h1>
        </div>
 
    </section>
       <section class="login-choice">
        <button class="btn-login"> <a href="/connexion">Se connecter </a></button>
        <p class="txt-login">ou</p>
        <button class="btn-login"><a href="/inscription">Créer un compte </a></button>
    </section>
    <section class="presentation">
    Je suis Alex, un photographe passionné qui transforme vos moments spéciaux en souvenirs durables. 
    Mon expertise et ma créativité se combinent pour vous offrir des images exceptionnelles.
    </section>

</body>
{% endblock %}




