{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<p>Accueil</p>


	<button>
		<a href="/connexion">Se connecter</button>
		<button>
			<a href="/inscription">Créer un compte</button>
			<button>
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</button>


			{% if app.user %}
				{% if is_granted('ROLE_ADMIN') %}
					<div class="create_account">
						Vous êtes connecté(e) en tant qu'ADMIN
					</div>
				{% endif %}
			{% endif %}


			{% if app.user %}
				{% if is_granted('ROLE_ADMIN') %}
					<div class="btn_retour">
						Vous êtes connecté(e) en tant
						{{ app.user.userIdentifier }}
					</div>
				{% endif %}
			{% endif %}
		{% endblock %}
